/* Police d'écriture */
@font-face {
    font-family: "Roboto";
    src: url('../fnt/RobotoLight.ttf');
}
@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url('../fnt/RobotoBold.ttf');
} 
@font-face {
    font-family: "Roboto";
    font-style: italic;
    src: url('../fnt/RobotoItalic.ttf');
}
/* Style des liens */
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
body{ /* Marges côtés bord à bord */
    margin-left: 15em;
    margin-right: 15em;
    color: rgb(56, 55, 54);
    background-color: rgb(80, 115, 140);
}
/* Propriété du menu de navigation */
nav{ 
    text-align: center;
    position: relative;
}
nav li{ /* Style bouton menu (liste)*/
    display: inline-block;
    margin-bottom: 1px ;
    padding: 0.65% 0.89%;
    height: max-content;
    width: max-content;
    list-style-type: none;
    text-align: center ;
    background-color: rgb(245,247,248); 
    border: 1px solid rgb(232, 232, 232);
}
nav a{ /* Style lien menu*/
    color: rgb(0, 0, 0) ;
    text-decoration: none ;
}
nav li:hover{ /* Style survole bouton */
    border-bottom-width: 2px;
    border-bottom-color:crimson;
    font-weight: 600;
}
.select{ /* Style page sélectionné */
    border-bottom-width: 2px;
    border-bottom-color:crimson;
}

h1{ /* Style titre principal */
    font-size: xx-large;
}
button{ /* Style bouton */
    margin: 1em;
    padding: 8px;
    border-radius: 4px;
    border-style: none;
    background-color: crimson;
    color: aliceblue;
}
button:hover{
    box-shadow: 1px 1px crimson;
}
label{ /* Style des labels */
    font-weight: bold;
}
table{ /* Style tableau */
    border-collapse: collapse;
    background-color: rgb(184, 207, 233);
}
thead,td:nth-child(1){
    background-color: rgb(172, 108, 108);
}
td{
    border-style: solid;
}
.img-profil{ /* Image ronde */
    width:200px;
    clip-path:ellipse(50% 50%); /* Cercle 50 50*/
    margin-top: 10px;
    margin-right: 20px;
}
.img-left{
    float: left;
    margin-right: 1em;
}
.img-right{
    float: right;
}
.required{ /* Champ obligatoire astérix */
    color: red;
    vertical-align: super;
}
#box_header{ /* Bandeau haut de page */
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(232, 232, 232);
}
#box_content{ /* Contenu page*/
    background-color: rgb(245,247,248);
    border-radius: 0px 0px 20px 20px;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}
footer{
    padding: 5px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px black;
}
#up{
    position: fixed;
    right: 2em;
    bottom: 1em;
    opacity: 0.5;
    width: 4%;
}
legend{
    text-align: center;
}
fieldset{
    margin-top: 0.5em;
}
fieldset img{
    vertical-align: middle;
}
#tchat{ /* Style du tchat */
    width: 99%; 
    height: 8em;
    border: 1px solid #ccc;
    background-color: white;
    overflow: auto;
    padding-top: 0.25em;
}
.user{ /* Style message user */
    background-color: rgb(18, 151, 247);
    border-style: none;
    border-color: rgb(18, 151, 247);
    border-radius: 2px;
    padding: 1px;
    color: white;
}
.bot{ /* Style message bot */
    background-color: rgb(230, 230, 230);
    border-style: none;
    border-radius: 2px;
    border-color: rgb(230, 230, 230);
    padding: 1px;
    color: black;
}
